bin/**
!bin/Release/
bin/Release/**
!bin/Release/*.dll
!bin/Release/Content/
!bin/Release/Content/**
bin/Release/Content/bin/
bin/Release/Content/obj/
bin/Release/Content/publish/
obj/
publish/
Debug/
*.suo
*.user
*.sdf
*.opensdf
*.psess
*.vsp
